<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1.如何邀请成员注册到我的名下?</string>
		<key>open</key>
		<false/>
		<key>foldable</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>登陆进入APP,在&quot;个人中心&quot;进入&quot;推荐邀请&quot;.把邀请码提供给注册好友填写,注册成功即成为团队成员.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>2.获得奖金如何体现?</string>
		<key>open</key>
		<false/>
		<key>foldable</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>登陆进入APP,在&quot;个人中心&quot;进入&quot;推荐邀请&quot;.把邀请码提供给注册好友填写,注册成功即成为团队成员.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>3.商品券怎么使用?</string>
		<key>open</key>
		<false/>
		<key>foldable</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>登陆进入APP,在&quot;个人中心&quot;进入&quot;推荐邀请&quot;.把邀请码提供给注册好友填写,注册成功即成为团队成员.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>4.如何开发票?</string>
		<key>open</key>
		<false/>
		<key>foldable</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>登陆进入APP,在&quot;个人中心&quot;进入&quot;推荐邀请&quot;.把邀请码提供给注册好友填写,注册成功即成为团队成员.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>5.奖金没到账?</string>
		<key>open</key>
		<false/>
		<key>foldable</key>
		<true/>
		<key>childs</key>
		<array>
			<dict>
				<key>name</key>
				<string>登陆进入APP,在&quot;个人中心&quot;进入&quot;推荐邀请&quot;.把邀请码提供给注册好友填写,注册成功即成为团队成员.</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
